/**
 * @name piOS Forever-REZ
 * @author Saltssaumure#7557, edited by stella#5234
 * @description SUPERHOT piOS inspired theme, but with the rez font. Automatically updates, forever!
 * @version Autoupdate
 * @source https://github.com/stella-chaosclub/pios-discord-theme-rez
*/

/*
                                                Made by:
 _______  _______  _    _________ _______  _______  _______           __   __           _______  _______ 
(  ____ \(  ___  )( \   \__   __/(  ____ \(  ____ \(  ___  )|\     /|(  \ /  )|\     /|(  ____ )(  ____ \
| (____\/| (___) || |      | |   | (____\/| (____\/| (___) || |   | || || || || |   | || (____)|| (__  \/
(_____  )|  ___  || |      | |   (_____  )(_____  )|  ___  || |   | || |(_)| || |   | || __  __)|  __)   
/\____) || )   ( || (____/\| |   /\____) |/\____) || )   ( || (___) || )   ( || (___) || ) \ \__| (____/\
\_______)|/     \|(_______/)_(   \_______)\_______)|/     \|(_______)|/     \|(_______)|/   \__/(_______/
                                              donut steel!
											  
Discord: Saltssaumure#7557, stella#5234
Github: https://github.com/stella-chaosclub/pios-discord-theme-rez

Join the Official Superhot Discord! https://discord.gg/9eAwJF8

*/

@import url("https://stella-chaosclub.github.io/pios-discord-theme-rez/piOStheme.css");

:root
{
	--compact-message-spacing: 1; 	/* Space between messages in compact mode, ie. box mode. Default: 1 (100%) */
	--accent-color: 0; 				/* Colour accent. Range: 0-360, default: 0 (red) */
}
